body {
   font-family: "Mulish", sans-serif;
}

.form-control label {
   display: inline-block;
   margin-bottom: 8px;
   font-size: 14px;
   font-weight: 600;
   color: #111827;
}

.form-control input {
   display: block;
   width: 100%;
   padding: 12px;
   border: 1px solid #e5e7eb;
   border-radius: 6px;
   font-size: 14px;
   line-height: 20px;
   color: #111827;
   outline: none;
   min-height: 40px;
}
