{% extends 'base.html' %}

{% block body %}
    {% for i in products %}
       
      
      
    
    
    
    
    <div class="p-5 border rounded-md">
        <div class="gap-4 flex items-start">
            <a class="shrink-0" href="/product/6666a4671797e89753ea2797">
                <img src="https://cdn.icon-icons.com/icons2/2389/PNG/512/notion_logo_icon_145025.png" class="w-14 h-14 rounded shrink-0 object-cover object-center"></a>
            <div class="flex items-center justify-between w-full">
                <div class="grid gap-y-1"><a href="/product/6666a4671797e89753ea2797">
                    <h1 class="text-gray-800 font-semibold"> {{ i.name }}</h1>
                </a><h3 class="text-sm line-clamp-1">All-in-one workspace</h3>
                </div>
                <button class="py-1.5 w-14 text-xs font-semibold grid gap-y-1.5 content-center justify-items-center rounded border active:scale-90 transition-all shrink-0 border-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 16" class="fill-current w-[1.125rem] text-gray-600">
                    <path d="M23.571 12.83 13.333.882a1.758 1.758 0 0 0-2.669 0L.426 12.83c-.977 1.14-.167 2.902 1.335 2.902H22.24c1.501 0 2.311-1.762 1.331-2.902z"></path>
                </svg>
                <span>19</span>
            </button>
            </div>
        </div><p class="mt-2 text-sm leading-6 line-clamp-3">{{ i.description }}</p><p class="mt-2 text-xs flex items-center gap-x-4 text-gray-500"><span>Productivity</span><span>AI</span><span>Note-taking</span></p></div>
   
    
  
    
    <a href="{% url 'detail_product' i.id %}" >Detail Product</a>
    <a href="{% url 'update_product' i.id %}">Update Product</a><br>
    <a href="{% url 'delete_product' i.id %}">Delete product</a>
    
    {% comment %} <div class="p-5 border rounded-md">
        <div class="gap-4 flex items-start">
            <a class="shrink-0" href="{% url 'product_detail' product.id %}">
                {% if product.icon %}
                    <img src="{{ product.icon.url }}" class="w-14 h-14 rounded shrink-0 object-cover object-center">
                {% endif %}
            </a>
            <div class="flex items-center justify-between w-full">
                <div class="grid gap-y-1">
                    <a href="{% url 'product_detail' product.id %}">
                        <h1 class="text-gray-800 font-semibold">{{ product.name }}</h1>
                    </a>
                    <h3 class="text-sm line-clamp-1">{{ product.tagline }}</h3>
                </div>
                <button class="py-1.5 w-14 text-xs font-semibold grid gap-y-1.5 content-center justify-items-center rounded border active:scale-90 transition-all shrink-0 border-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 16" class="fill-current w-[1.125rem] text-gray-600">
                        <path d="M23.571 12.83 13.333.882a1.758 1.758 0 0 0-2.669 0L.426 12.83c-.977 1.14-.167 2.902 1.335 2.902H22.24c1.501 0 2.311-1.762 1.331-2.902z"></path>
                    </svg>
                    <span>{{ product.upvotes }}</span>
                </button>
            </div>
        </div>
        <p class="mt-2 text-sm leading-6 line-clamp-3">{{ product.description }}</p>
        <p class="mt-2 text-xs flex items-center gap-x-4 text-gray-500">
            {% for tag in product.tags %}
                <span>{{ tag }}</span>
            {% endfor %}
        </p>
    </div>{% endcomment %}
    {% endfor %}
    
{% endblock body %}
