{% load static %}

<div class="p-5 border rounded-md">
   <div class="gap-4 flex items-start">
      <a class="shrink-0" href="{% url 'detail_product' product.id %}">
         <img src="{{ product.icon.url }}"
              width="56"
              height="56"
              alt="{{ product.name }} icon"
              class="w-14 h-14 rounded shrink-0 object-cover object-center" />
      </a>
      <div class="flex items-center justify-between w-full">
         <div class="grid gap-y-1">
            <a href="{% url 'detail_product' product.id %}">
               <h1 class="text-gray-800 font-semibold">{{ product.name }}</h1>
            </a>
            <h3 class="text-sm line-clamp-1">{{ product.tagline }}</h3>
         </div>

         <button class="py-1.5 w-14 text-xs font-semibold grid gap-y-1.5 content-center justify-items-center rounded border active:scale-90 transition-all shrink-0 border-gray-200">
            <img src="{% static 'images/upvote.png' %}"
                 alt="upvote"
                 width="20"
                 height="20" />
            <span>{{ product.upvotes }}</span>
         </button>

      </div>
   </div>
   <p class="mt-2 text-sm leading-6 line-clamp-3">{{ product.description }}</p>
   <p class="mt-2 text-xs flex items-center gap-x-4 text-gray-500">
      {% for tag in product.tags %}<span>{{ tag }}</span>{% endfor %}
   </p>
</div>
